@import 'tailwindcss';

@theme {
  /* --font-sans: "Inter", sans-serif; (Opsional jika ingin override default) */

  /* Color Palette Definition */
  --color-background: #f8f9fb;

  --color-primary: #5d5fef;
  --color-primary-dark: #4338ca;

  /* Custom Pandai Colors */
  --color-pandai-purple: #6d28d9;
  --color-pandai-blue: #2563eb;
  --color-pandai-green: #22c55e;
  --color-pandai-text: #1f2937;
  --color-pandai-subtext: #6b7280;

  /* Gradient Colors specific for cards */
  --color-grad-start: #4f46e5;
  --color-grad-end: #a855f7;
  --color-guru-start: #2563eb; /* Biru untuk Guru */
  --color-guru-end: #7c3aed;
}

/* Base Styles */
body {
  background-color: var(--color-background);
  color: var(--color-pandai-text);
}

/* Custom Scrollbar Utilities */
@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
